header  
    // Project Title
    // Category names displayed in a navigation menu fashion
    // Breadcrumbs navigation
    .sticky-top.hstack.gap-3
        h1 Alibazon E-Commerce
        .dropdown.ms-auto
            button#dropdownMenuButton1.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                | Womens
            ul.dropdown-menu(aria-labelledby='dropdownMenuButton1')
                li
                    a.dropdown-item(href='#') All
                li
                    a.dropdown-item(href='#') Another action
                li
                    a.dropdown-item(href='#') Something else here
        .dropdown
            button#dropdownMenuButton1.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                | Mens
            ul.dropdown-menu(aria-labelledby='dropdownMenuButton1')
                li
                    a.dropdown-item(href='#') All
                li
                    a.dropdown-item(href='#') Another action
                li
                    a.dropdown-item(href='#') Something else here
    hr 