header  
    .sticky-top.hstack.gap-3
        h1 
            a(href='/') Alibazon E-Commerce
        if !currentUser
            form(action='/auth/signin')
                input(type='submit' value='Sign In')
            form(action='/auth/signup')
                input(type='submit' value='Sign Up')
        else 
            form(action='/auth/signout')
                input(type='submit' value='Sign Out')
        .dropdown.ms-auto
            button#dropdownMenuButton1.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                | Womens
            ul.dropdown-menu(aria-labelledby='dropdownMenuButton1')
                li
                    a.dropdown-item(href='../../categories/parent/womens-clothing') Womens Clothing
                li
                    a.dropdown-item(href='../../categories/parent/womens-accessories') Womens Accessories
                li
                    a.dropdown-item(href='../../categories/parent/womens-jewelry') Womens Jewelry
        .dropdown
            button#dropdownMenuButton1.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                | Mens
            ul.dropdown-menu(aria-labelledby='dropdownMenuButton1')
                li
                    a.dropdown-item(href='../../categories/parent/mens-clothing') Mens Clothing
                li
                    a.dropdown-item(href='../../categories/parent/mens-accessories') Mens Accessories
    hr 