header  
    .sticky-top.hstack.gap-3
        h1 
            a.text-decoration-none.text-light(href='/') Alibazon E-Commerce
        .d-flex.flex-row
            if !currentUser
                form.p-2(action='/auth/signin')
                    input(type='submit' value='Sign In')
                form.p-2(action='/auth/signup')
                    input(type='submit' value='Sign Up')
            else 
                form.p-2(action='/auth/signout')
                    input(type='submit' value='Sign Out')
                form.p-2(action='/auth/cart')
                    input(type='submit' value='Cart')
                .dropdown.p-2
                    button#dropdownMenuButton1.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                        | Womens
                    ul.dropdown-menu(aria-labelledby='dropdownMenuButton1')
                        li
                            a.dropdown-item(href='../../categories/women') All
                        li
                            a.dropdown-item(href='../../categories/women/womens-clothing') Womens Clothing
                        li
                            a.dropdown-item(href='../../categories/women/womens-accessories') Womens Accessories
                        li
                            a.dropdown-item(href='../../categories/women/womens-jewelry') Womens Jewelry
                .dropdown.p-2
                    button#dropdownMenuButton1.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                        | Mens
                    ul.dropdown-menu(aria-labelledby='dropdownMenuButton1')
                        li
                            a.dropdown-item(href='../../categories/men') All            
                        li
                            a.dropdown-item(href='../../categories/men/mens-clothing') Mens Clothing
                        li
                            a.dropdown-item(href='../../categories/men/mens-accessories') Mens Accessories

