extends layout 

block content
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.h6.breadcrumb-item
                a(href='/') Home
    .text-center
        h1 Home Page
        h3 Please choose a category
        a(href='../../categories/women')
            img(src='images/personal/womens.png' width='189' height='369')
        a(href='../../categories/men')
            img(src='images/personal/mens.png' width='200' height='369')
