extends layout 

block content
	nav(aria-label='breadcrumb')
		ol.breadcrumb
			li.h6.breadcrumb-item
				a(href='/') Home
			li.h6.breadcrumb-item
				a(href='/categories') Categories
			li.h6.breadcrumb-item.active(aria-current='page') #{ categories[0].parent_category_id }   
	ul(style='list-style-type:none')
		h2.border-bottom.border-primary.text-capitalize.text-center.text-info= categories[0].parent_category_id
		each val in categories 
			if val.image == nullData 
				continue
			else if val.id == 'mens-clothing'
				continue
			else if val.parent_category_id == parentId
				.oneSubCategorie.p-3.mb-3.bg-dark.text-white.rounded.text-center
					p.display-6= val.page_title
					hr
					a(href='/products/product_search?id=' + val.id)
						img.w-75(src='../../images/' + val.image)
					li.h5= val.page_description					
					br

					// input.btn.btn-primary(type='button' value='View Products')