extends layout 

block content

    .main.container.row
        .col-md-6.col-md-offset-3
            h1.display-4.m-b-2 Sign Up

            form(action='/auth/signup', method='post')
                .form-group 
                    label Email: 
                        input.form-control(type='text', placeholder='name@email.com' name='email')
                br
                .form-group
                    label Name: 
                        input.form-control(type='text', placeholder='first and last' name='name')
                br 
                .form-group
                    label Password: 
                        input.form-control(type='text', name='password')
                br    
                .form-group
                    label Confirm Password: 
                        input.form-control(type='text', name='confirmPassword')
                br   
                button.btn.btn-primary(type='submit') Submit