extends layout 

block content 
    h1 Sign Up
    form(action='/auth/signup', method='post') 
        label Please enter your email: 
            input(type='text', name='email')
        br
        label Please enter your name: 
            input(type='text', name='name')
        br 
        label Please enter your password: 
            input(type='text', name='password')
        br    
        label Please confirm your password: 
            input(type='text', name='confirmPassword')
        br   
        button(type='submit') Submit