extends layout 

block content
    ul(style='list-style-type:none')
        .oneSubCategorie.p-3.mb-3.bg-dark.text-white.rounded
                h3= products[0].image_groups[0].images[0].title
                img(src='../../images/' + products[0].image_groups[0].images[0].link)
                p= products[0].long_description
                if products[0].currency == 'USD'
                    p Price: $ #{products[0].price}
                br