extends layout

block content
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                a(href='/') Home
            li.breadcrumb-item
                a(href='/categories') Categories
            li.breadcrumb-item.active(aria-current='page') #{searchWord}  
    ul(style='list-style-type:none')
        each val in categories 
            if val.image == nullData 
                continue
            else if val.id == 'mens-clothing' || val.id == 'womens-clothing' || val.id == 'womens-jewelry' || val.id == 'womens-accessories'
                continue 
            else 
                .oneSubCategorie.p-3.mb-3.bg-dark.text-white.rounded
                h3.text-center= val.name
                hr
                p= val.page_title
                img(src='../../images/' + val.image)
                li= val.page_description
                a(href='/products/product_search?id=' + val.id)
                    input(type='button' value='View Products')
                br