extends layout 

block content
    ul(style='list-style-type:none')
        nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/') Home            
                li.breadcrumb-item.active(aria-current='page') Wishlist   
        .oneSubCategorie.p-3.mb-3.bg-dark.text-white.rounded
            each oneItem in wishlistItems
                .container.row.mb-5.pb-5
                    .col-9
                        h3= oneItem[0].image_groups[0].images[0].title
                    .col-5
                        img(src='../../images/' + oneItem[0].image_groups[0].images[0].link)
                    .col-6
                        br
                        p= oneItem[0].short_description
                        form(action='/wishlist/removeItem' method='post')
                            button(type='submit' name='deleteProductId' value=oneItem) Remove